.section {
  margin-bottom: 20px;
}
.gridRow {
}
.gridRow > div {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: .8rem;
  font-weight: 600;
  letter-spacing: .1rem;
}
