.section {
  margin-bottom: 20px;
  background-color: lightyellow;
  border: 1px solid #f7f7f7;
}
.buttons {
   background-color: none;
}
.grid {
}
.gridRow > div {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: lightgrey;
}
